
body{

color:#ffffff;
margin: 0;
text-align: center;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;

}
.nav{

    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17375f;
    /*position:fixed;*/
    top:0;
    /*max-height: 50px;*/
    
    width:100%;
    z-index: 100;
    
}
ul{
    /*display: flex;*/
    /*flex-direction: row;*/
    list-style-type:none;
}


li{

    float:left;
}
li a{
    
     color:white;
   
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;;
    text-decoration: none;
  } 


h1{
    font-family: "Staatliches", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    margin: 0 auto 0 auto ;


}

h2{
   
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
   


}
h3{
 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 2rem;

}
hr{

    border: dotted 4px;
    border-bottom: none;
    width: 10%;
    margin: auto;
}
a {
color: #ffffff;
margin: 30px 20px;
text-decoration: none;


}
a:hover{

    color: #0ed2f0;
}



.main-container{

background-image: url(./SallylookdevMuseum_RESIZED.jpg);
background-position: center;



background-repeat: no-repeat;
position: relative;
padding-top: 250px;

}


.logo-align{
    
    

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



.logo{
position: relative;

height: 150px;





}
@media (max-width: 480px){
    .logo{
        position: relative;
        
        height: 100px;


}
ul>li>a {
    font-size: 12px;
    padding: 0 6px;
  }

  .nav{

background-color: #508C9B;
  }
}
.title-text{
position: relative;

padding-bottom: 100px;


}
.programmer{

    text-decoration: underline;
}

.middle-container{
    margin: 0;
    

    
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#508C9B ;
}

.prof{

    height: 200px;
    
    border-radius: 50%;
}
.intro{

    width: 50%;
    margin: auto;
    padding-bottom: 30px;
}
#cards{

    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height:50vh ;
    gap: 2rem;

/*display: grid;
grid-template-columns: 0.5fr 1fr;
grid-template-rows: repeat(1, 1) ;
width: 50%;
margin: 50px auto 0 auto;
text-align: left;
row-gap: 1rem;*/

}
.container_img{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*margin-top: 30px;*/
}
.moebius{
 
    
    

    height: 150px;
    border-radius: 30px;
}


.ball{


    /*display: flex;
    float: left;*/
    

    height: 150px;
    border-radius: 30px;


}
.skillscontainer{

    flex: 1;
    max-width: 300px;
    height: 400px;
    background-color:#088395;
    padding: 20px;
    border-radius: 50px;
    text-align: left;
}
.contact{
padding-top: 60px;
padding-bottom: 60px;

}




@media (max-width: 650px){

    #cards{

        flex-direction: column;
        height: 100%;
        align-items: center;
        max-height: 700px;
        

    }

    #cards > .skillscontainer{

        width: 300px;
    }
.vfx-title{

    font-size: 1.5rem;
}
.moebius{
    height: 100px;
    
}
.vfx p{

    font-size: small;
}
.ball{

    height: 100px;
}
    
}
.message{

    margin-top: 50px;
}

.btn{
    background: #508C9B;
    background-image: -webkit-linear-gradient(top,#508C9B, #088395);
    background-image: -moz-linear-gradient(top,#508C9B, #088395);
    background-image: -o-linear-gradient(top,#508C9B, #088395);
    background-image: linear-gradient(top,#508C9B, #088395);
    text-decoration: none;
    border-radius: 10px;
    font-family: "Staatliches", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    
    
    padding: 5px 20px;


}

.btn:hover{

    background: #a7deec;
    background-image: -webkit-linear-gradient(top,#a7deec, #0ed2f0);
    background-image: -moz-linear-gradient(top,#a7deec, #0ed2f0);
    background-image: -o-linear-gradient(top,#a7deec, #0ed2f0);
    background-image: linear-gradient(top,#a7deec, #0ed2f0);
    text-decoration: none;


}
.footer{

    background-color: #088395;
    padding: 50px;
}


.copyright{

    font-size: 10px;
    padding: 40px;
}

